<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MediaPlayer</display-name>
  <absolute-ordering/>
  
  <servlet>
	  <servlet-name>StudentDetails</servlet-name>
	  <servlet-class>com.project/StudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentDetails</servlet-name>
  	<url-pattern>/StudentDetails</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
</web-app>


